{% extends "layout.html" %}

<!-- RHS: user input -->
{% block userInput %}
    <form action="/", method="POST">

        {% for m in mealList %}
        <p><label><input type="checkbox" name="{{m}}"/><span>{{m.stem.replace("_", " ")}}</span></label></p>
        {% endfor %}

        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>

    </form>

    <!-- Output list placeholder -->
    <ul>
        {% for category, items in shoppingDict.items() %}

            <h4>{{category}}</h4>

            {% for i in items %}
                <li>{{i.quantity}} {{i.unit}} of {{i.name}}</li>
            {% endfor %}

        {% endfor %}
    </ul>

{% endblock %}