<!DOCTYPE html>

<html>
    <head>
        <!-- https://materializecss.com/getting-started.html -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
           
        <title>
            Groceries
        </title>
    </head>

    <body>

    <!-- https://materializecss.com/sidenav.html -->
    <nav></nav>

    <div class="row">

        <!-- LHS: Sidebar menu -->
        <div class = "col s4" >
            <div class="collection">
                <a class = "collection-item">Select recipes </a>
                <a class = "collection-item">New Recipe     </a>
            </div>
        </div>
            
    {% block userInput %}
    {% endblock %}

    </div>
    
    <!-- Compiled and minified JavaScript -->
    <!-- JavaScript at end of body for optimized loading -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>